<header class="navbar navbar-dark py-0 navbar-fixed-top bg-dark navbar-expand-lg py-md-0">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">CCP</a>
    <button class="navbar-toggler" (click)="toggleNavbar()" type="button" aria-controls="navbarContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span *ngIf="navbarCollapsed" class="fa fa-bars fa-lg"></span>
      <span *ngIf="!navbarCollapsed" class="fa fa-times fa-lg"></span>
    </button>
    <div [ngbCollapse]="navbarCollapsed" id="navbarContent" [@collapse]="collapseNavbar" class="navbar-collapse collapse navbar-toggleable">
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item py-0" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/home']">
            <i class="fa fa-home"></i> Home </a>
        </li>
        <li class="nav-item py-0" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/about']">
            <i class="fa fa-info"></i> About </a>
        </li>
      </ul>
    </div>
  </div>
</header>
