<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastRevision</key>
	<string>4825</string>
	<key>Link</key>
	<string>https://github.com/Micky1979/Clover-Configurator-Pro/blob/master/Clover/4825.zip?raw=true</string>
</dict>
</plist>
